<div id="header" style><h1>Trial Expired</h1> 
  
  Your trial has expired. Please subscribe below. No retweeting will occur until your account is reactivated.
  </div>
  <br>
<span style="text-align: right" ><%= render :partial => "paypal_button" %></span>
